.title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.article {
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.04);
  transition: 0.3s;
}

.article:hover {
  background: rgba(255,255,255,0.07);
}

.video {
  margin-top: 20px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
